{#
# Copyright 2020 Inc.
#}

{% extends "base.html" %}

{% block content %}

<script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>

<div class="row">
  <div class="col-lg-2">
    <div id="accordion">
      <h3>資產</h3>
      <div style="margin:0;padding:0;">
      </div>
      <h3>處理</h3>
      <div style="margin:0;padding:0;">
      </div>
      <h3>報表</h3>
      <div style="margin:0;padding:0;">
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    {% if session.profile and session.profile.Role == "1" %}
    
    {% endif %}
    {% for book in books %}
    <div class="media">
      <a href="/EsAsset/{{book.id}}">
        <div class="media-left">
          {% if book.imageUrl %}
          <img style="max-width:200px" src="{{book.imageUrl}}">
          {% else %}
          {% endif %}
        </div>
        <div class="media-body">
          <h4>{{book.Title}}</h4>
          <p>{{book.Classno}}</p>
        </div>
      </a>
    </div>
    {% else %}
    <p>No asset found</p>
    {% endfor %}
    
    {% if next_page_token %}
    <nav>
      <ul class="pager">
        <li><a href="?page_token={{next_page_token}}">More</a></li>
      </ul>
    </nav>
    {% endif %}
  </div>
</div>
<footer>
  <p class="float-right"><a href="#">Back to top</a></p>
  <small>Copyright&nbsp;&#169; 1999 Macau Baptist College.All Rights Reserved</small>
</footer>
{% endblock %}