<div id="menudialog">
    <div id="accordion">
        <h3><a href=#>4271 資訊設備(一般)</a></h3>
        <div style="margin:0;padding:0;">
        <h4><a href=# onclick="GetNewItemNo(4271001);">4271001</a> 桌上電腦 (主機，滑鼠，鍵盤)</h4>
        <h4><a href=# onclick="GetNewItemNo(4271002);">4271002</a> 手提電腦 (主機，電池，火牛，光盤)</h4>
        <h4><a href=# onclick="GetNewItemNo(4271003);">4271003</a> 打印機 (針機 / 噴墨 / 雷射 / 多功能)</h4>
        <h4><a href=# onclick="GetNewItemNo(4271004);">4271004</a> 掃瞄器</h4>
        <h4><a href=# onclick="GetNewItemNo(4271005);">4271005</a> 伺服器 (主機)</h4>
        <h4><a href=# onclick="GetNewItemNo(4271006);">4271006</a> 電腦熒幕 (CRT / LCD)</h4>
        <h4><a href=# onclick="GetNewItemNo(4271007);">4271007</a> 手紋掃瞄器</h4>
        <h4><a href=# onclick="GetNewItemNo(4271008);">4271008</a> 條碼掃瞄器 / Barcode Reader USB</h4>
        <h4><a href=# onclick="GetNewItemNo(4271009);">4271009</a> 指紋考勤機</h4>
        <h4><a href=# onclick="GetNewItemNo(4271010);">4271010</a> 多媒體投影機</h4>
        <h4><a href=# onclick="GetNewItemNo(4271011);">4271011</a> 接觸式智能卡閱讀器《插入身份證辨認》</h4>
        <h4><a href=# onclick="GetNewItemNo(4271012);">4271012</a> 大型外部儲存裝置</h4>
        <h4><a href=# onclick="GetNewItemNo(4271013);">4271013</a> 大型外部儲存裝置硬盤</h4>
        <h4><a href=# onclick="GetNewItemNo(4271014);">4271014</a> 平板電腦</h4>
        </div>
        <h3><a href=#>4271 資訊設備(電腦配件)</a></h3>
        <div style="margin:0;padding:0;">
        <h4><a href=# onclick="GetNewItemNo(4271101);">4271101</a> 底板 / 處理器 / 顯示卡</h4>
        <h4><a href=# onclick="GetNewItemNo(4271102);">4271102</a> 鍵盤</h4>
        <h4><a href=# onclick="GetNewItemNo(4271103);">4271103</a> 電腦機箱</h4>
        <h4><a href=# onclick="GetNewItemNo(4271104);">4271104</a> 記憶體</h4>
        <h4><a href=# onclick="GetNewItemNo(4271105);">4271105</a> 護目鏡</h4>
        <h4><a href=# onclick="GetNewItemNo(4271106);">4271106</a> 滑鼠</h4>
        <h4><a href=# onclick="GetNewItemNo(4271107);">4271107</a> 軟碟機</h4>
        <h4><a href=# onclick="GetNewItemNo(4271108);">4271108</a> 內置硬盤</h4>
        <h4><a href=# onclick="GetNewItemNo(4271109);">4271109</a> 光碟機 (CD-ROM / CD-RW / DVD)</h4>
        <h4><a href=# onclick="GetNewItemNo(4271110);">4271110</a> Zip Drive</h4>
        <h4><a href=# onclick="GetNewItemNo(4271111);">4271111</a> 手寫板</h4>
        <h4><a href=# onclick="GetNewItemNo(4271112);">4271112</a> Lenten Reborn card</h4>
        <h4><a href=# onclick="GetNewItemNo(4271113);">4271113</a> 外置硬盤</h4>
        <h4><a href=# onclick="GetNewItemNo(4271114);">4271114</a> 後備供電電池</h4>
        </div>
        <h3><a href=#>4271 資訊設備(網路設備)</a></h3>
        <div style="margin:0;padding:0;">
        <h4><a href=# onclick="GetNewItemNo(4271201);">4271201</a> 數據機</h4>
        <h4><a href=# onclick="GetNewItemNo(4271202);">4271202</a> 網絡卡</h4>
        <h4><a href=# onclick="GetNewItemNo(4271203);">4271203</a> Hub</h4>
        <h4><a href=# onclick="GetNewItemNo(4271204);">4271204</a> 路由器</h4>
        <h4><a href=# onclick="GetNewItemNo(4271205);">4271205</a> 網絡儀器</h4>
        <h4><a href=# onclick="GetNewItemNo(4271206);">4271206</a> Ethernet Switch 48 10/100 Base-TX</h4>
        <h4><a href=# onclick="GetNewItemNo(4271207);">4271207</a> 防火牆  - NetScreen</h4>
        <h4><a href=# onclick="GetNewItemNo(4271208);">4271208</a> 無線網絡</h4>
        <h4><a href=# onclick="GetNewItemNo(4271209);">4271209</a> 網路存取裝置</h4>
        <h4><a href=# onclick="GetNewItemNo(4271210);">4271210</a> 流動上網裝置(MyID)《無線設備》</h4>
        <h4><a href=# onclick="GetNewItemNo(4271211);">4271211</a> 無線存取點</h4>
        <h4><a href=# onclick="GetNewItemNo(4271212);">4271212</a> 控制器Controller</h4>
        <h4><a href=# onclick="GetNewItemNo(4271213);">4271213</a> 交換器Switch</h4>
        <h4><a href=# onclick="GetNewItemNo(4271214);">4271214</a> Access Point Wall / Ceiling Mounting</h4>
        </div>
        <h3><a href=#>4271 資訊設備(打印機配件)</a></h3>
        <div style="margin:0;padding:0;">
        <h4><a href=# onclick="GetNewItemNo(4271301);">4271301</a> Auto Switch</h4>
        <h4><a href=# onclick="GetNewItemNo(4271302);">4271302</a> Banner Paper Holder</h4>
        </div>
        <h3><a href=#>4271 資訊設備(考勤系統)</a></h3>
        <div style="margin:0;padding:0;">
        <h4><a href=# onclick="GetNewItemNo(4271401);">4271401</a> Targa Office Station 考勤系統《主機分享設備》</h4>
        <h4><a href=# onclick="GetNewItemNo(4271402);">4271402</a> 非接觸式智能卡(Blank Smart Card)《MY IT-School》</h4>
        <h4><a href=# onclick="GetNewItemNo(4271403);">4271403</a> 資訊亭(15"LCD輕觸式屏幕)連網絡鏡頭 (主機+輕觸式屏+非接觸式智能卡)</h4>
        <h4><a href=# onclick="GetNewItemNo(4271404);">4271404</a> MyIT-School 考勤系統《軟件系統》</h4>
        <h4><a href=# onclick="GetNewItemNo(4271405);">4271405</a> Card Reader《MY IT-School》</h4>
        <h4><a href=# onclick="GetNewItemNo(4271406);">4271406</a> Web Cam《MY IT-School》</h4>
        <h4><a href=# onclick="GetNewItemNo(4271407);">4271407</a> Dongle (棒型外置記憶體)《MY IT-School》</h4>
        </div>
        

    </div>
</div>

<script>
    var dialog = null;
    function diagramclick() {
        dialog.dialog("open");
    }
    function GetNewItemNo(cateid){
        let PostUrl="/EsAsset/JSON/categoryitemlist/"
		$.ajax({
			method: "GET",
			url: PostUrl + `/${cateid}`,
			contentType: "application/json"
		}).done(function (data) {
			console.log(data)
            if(data.length>0){
                let oldval=$("#itemno").val()
                if(oldval.length>0){

                    prompt(data[0].itemno+1,data[0].itemno+1);
                }else{
                    $("#itemno").val(data[0].itemno+1)
                }
              
            }
		});
       
    }
    $(function () {
        CKEDITOR.replace('describe');
        $("#accordion").accordion();
        dialog = $("#menudialog").dialog({
            autoOpen: false,
            height: 700,
            width: 500,
            modal: true,
            buttons: {
                Cancel: function () {
                    dialog.dialog("close");
                }
            },
            close: function () {
                //form[ 0 ].reset();
                //allFields.removeClass( "ui-state-error" );
            }
        });

    });
</script>