<div id="menudialog">
    <div id="accordion">
        <h3><a href=#>4271 資訊設備(一般)</a></h3>
        <div style="margin:0;padding:0;">
        <h4><a href=# onclick="GetNewItemNo(4271001,this);">4271001 桌上電腦 (主機，滑鼠，鍵盤)</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271002,this);">4271002 手提電腦 (主機，電池，火牛，光盤)</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271003,this);">4271003 打印機 (針機 / 噴墨 / 雷射 / 多功能)</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271004,this);">4271004 掃瞄器</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271005,this);">4271005 伺服器 (主機)</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271006,this);">4271006 電腦熒幕 (CRT / LCD)</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271007,this);">4271007 手紋掃瞄器</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271008,this);">4271008 條碼掃瞄器 / Barcode Reader USB</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271009,this);">4271009 指紋考勤機</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271010,this);">4271010 多媒體投影機</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271011,this);">4271011 接觸式智能卡閱讀器《插入身份證辨認》</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271012,this);">4271012 大型外部儲存裝置</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271013,this);">4271013 大型外部儲存裝置硬盤</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271014,this);">4271014 平板電腦</a></h4>
        </div>
        <h3><a href=#>4271 資訊設備(電腦配件)</a></h3>
        <div style="margin:0;padding:0;">
        <h4><a href=# onclick="GetNewItemNo(4271101,this);">4271101 底板 / 處理器 / 顯示卡</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271102,this);">4271102 鍵盤</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271103,this);">4271103 電腦機箱</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271104,this);">4271104 記憶體</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271105,this);">4271105 護目鏡</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271106,this);">4271106 滑鼠</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271107,this);">4271107 軟碟機</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271108,this);">4271108 內置硬盤</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271109,this);">4271109 光碟機 (CD-ROM / CD-RW / DVD)</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271110,this);">4271110 Zip Drive</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271111,this);">4271111 手寫板</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271112,this);">4271112 Lenten Reborn card</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271113,this);">4271113 外置硬盤</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271114,this);">4271114 後備供電電池</a></h4>
        </div>
        <h3><a href=#>4271 資訊設備(網路設備)</a></h3>
        <div style="margin:0;padding:0;">
        <h4><a href=# onclick="GetNewItemNo(4271201,this);">4271201 數據機</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271202,this);">4271202 網絡卡</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271203,this);">4271203 Hub</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271204,this);">4271204 路由器</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271205,this);">4271205 網絡儀器</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271206,this);">4271206 Ethernet Switch 48 10/100 Base-TX</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271207,this);">4271207 防火牆  - NetScreen</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271208,this);">4271208 無線網絡</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271209,this);">4271209 網路存取裝置</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271210,this);">4271210 流動上網裝置(MyID)《無線設備》</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271211,this);">4271211 無線存取點</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271212,this);">4271212 控制器Controller</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271213,this);">4271213 交換器Switch</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271214,this);">4271214 Access Point Wall / Ceiling Mounting</a></h4>
        </div>
        <h3><a href=#>4271 資訊設備(打印機配件)</a></h3>
        <div style="margin:0;padding:0;">
        <h4><a href=# onclick="GetNewItemNo(4271301,this);">4271301 Auto Switch</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271302,this);">4271302 Banner Paper Holder</a></h4>
        </div>
        <h3><a href=#>4271 資訊設備(考勤系統)</a></h3>
        <div style="margin:0;padding:0;">
        <h4><a href=# onclick="GetNewItemNo(4271401,this);">4271401 Targa Office Station 考勤系統《主機分享設備》</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271402,this);">4271402 非接觸式智能卡(Blank Smart Card)《MY IT-School》</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271403,this);">4271403 資訊亭(15"LCD輕觸式屏幕)連網絡鏡頭 (主機+輕觸式屏+非接觸式智能卡)</a></h4>   
        <h4><a href=# onclick="GetNewItemNo(4271404,this);">4271404 MyIT-School 考勤系統《軟件系統》</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271405,this);">4271405 Card Reader《MY IT-School》</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271406,this);">4271406 Web Cam《MY IT-School》</a></h4>
        <h4><a href=# onclick="GetNewItemNo(4271407,this);">4271407 Dongle (棒型外置記憶體)《MY IT-School》</a></h4>
        </div>

    </div>
</div>

<script>
    var dialog = null;
    function diagramclick() {
        dialog.dialog("open");
    }
    function GetNewItemNo(cateid,x){
        let PostUrl="/EsAsset/JSON/categoryitemlist/"
		$.ajax({
			method: "GET",
			url: PostUrl + `/${cateid}`,
			contentType: "application/json"
		}).done(function (data) {
			console.log(data)
            let itemno=0
            let item_name=x.innerHTML
            if(data.length>0){
                itemno=data[0].itemno+1
            }
            else
            {
                itemno=Number(item_name.split(" ")[0])*1000+1
            }
           let oldval=$("#itemno").val()
           if(oldval.length>0){
                prompt(itemno,itemno);
            }else{
                $("#itemno").val(itemno)
                if($("#name").val().length>0){}
                else{
                    $("#name").val(x.innerHTML)
                }
                   
                }
              
		});
       
    }
    $(function () {
        CKEDITOR.replace('describe');
        $("#accordion").accordion();
        dialog = $("#menudialog").dialog({
            autoOpen: false,
            height: 700,
            width: 500,
            modal: true,
            buttons: {
                Cancel: function () {
                    dialog.dialog("close");
                }
            },
            close: function () {
                //form[ 0 ].reset();
                //allFields.removeClass( "ui-state-error" );
            }
        });

    });
</script>