{#
# Copyright 2015 Inc.
#}

{% extends "esasset/base.html" %}

{% block content %}
<script src="/static/javascripts/JsBarcode.all.min.js"></script>

<script>
// By using querySelector
//<svg id="barcode"></svg>
//JsBarcode("#barcode", "ACC{{book.acno}}", {
//  format: "CODE39",
// // mod43: true
// height: 50
//});

// or by passing an element variable
//var element = document.getElementById("barcode");
// or jqeuery
//JsBarcode(element, "Hi!");
//$("#barcode").JsBarcode("Hi!");

//<img src="/EsAsset/qrcode?data={{book.acno}}">
</script>


<style>
  th{min-width: 100px;}
  td {
    padding-right: 5px;
    padding-left: 5px;
  }
</style>
<h4>{{book.id}} {{book.acc}}</h4>
<img src='{{qrcode(book.acno, error_correction="H", icon_img="images/favicon.ico",border=2,box_size=6,back_color="white", fill_color="black" )}}'>
{% if session.profile and session.profile.Role < "8" %} <div class="btn-group">
  <a href="/EsAsset/{{book.id}}/edit" class="btn btn-primary btn-sm">
    <i class="glyphicon glyphicon-edit"></i>
    Edit 專案
  </a>
  <a href="/EsAsset/{{book.id}}/delete" class="btn btn-danger btn-sm">
    <i class="glyphicon glyphicon-trash"></i>
    Delete 專案
  </a>
  </div>
  {% endif %}
  <div class="media">
    <div class="media-left">
      {% if book.imageUrl %}
      <img class="book-image" src="{{book.imageUrl}}">
      {% else %}
      {% endif %}
    </div>

  </div>
  <div class="media-body">
    <table class="table">
      <tr>
        <td>id,項目代號</td>
        <td>專案項目名稱</td>
        <td>登記日期</td>
        <td>createdById</td>
      </tr>
      <tr>
        <td>
          <a href="/EsAsset/{{book.id}}">{{book.id}}.{{book.acno}}</a>
        </td>
        <td>
          <h4>{{book.acc}}</h4>
        </td>
        <td>
          {{book.regSDate}}
        </td>
        <td>
          {{book.createdById}}
        </td>
    </table>
    <p>{{book.describe | safe}}</p>
  </div>
  {% if session.profile and session.profile.Role < "8" %} <div class="btn-group">
    <a href="/EsAsset/{{book.id}}/item/add?acno={{book.acno}}&regSDate={{book.regSDate}}" class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      Add 明細
    </a>
    <a href="/EsAsset/{{book.id}}/item/addbatch/0?acno={{book.acno}}&regSDate={{book.regSDate}}" class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      Add 多項明細
    </a>    
    <a href="/EsAsset/{{book.id}}/itemgrid?acno={{book.acno}}&regSDate={{book.regSDate}}" class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      明細Grid
    </a>

    <br>
    {% endif %}
<h3>明細</h3>


  <table class="table">
    <tr>
      <td>序</td>
      <td>id</td>
      <th>產品編號</th>
      <th style="width: 100px;">產品名稱</th>
      <th>型號</th>
      <th>SN/PN</th>
      <th>數量</th>
      <th>單價</th>
      <th>攤折</th>
      <th>淨值</th>
      <th>攤折</th>
      <th>資助金額</th>
      <th>資助單位/個人</th>
      <th>位置</th>
      <th>保管人</th>
      <th>備註</th>
      <th>主項編號</th>
      <th>登錄日期</th>
    </tr>

  {% for item_ in items %}
    <tr>
      <td>{{loop.index}}</td>
      <td><a href="/EsAsset/{{book.id}}/item/{{item_.id}}">{{item_.id}}</a></td>
      <td>{{item_.itemno}}</td>
      <td>{{item_.name}}</td>
      <td>{{item_.model}}</td>
      <td>{{item_.sn}}</td>
      <td>{{item_.quantity}}</td>
      <td>{{item_.price}}</td>
      <td>{{item_.adjust}}</td>
      <td>{{item_.amount}}</td>
      <td>{{item_.note1}}</td>
      <td>{{item_.keeper}}</td>
      <td>{{item_.note2}}</td>
      <td>{{item_.acc_acno}}</td>
      <td>{{item_.regSDate}}</td>
    </tr>
  {% else %}
  <tr><td>No found</td></tr>
  {% endfor %}
</table>

<h4>Product Img:</h4>
{% for file in filenames %}
<div>
  <a href="/EsAsset/{{book.id}}/download/{{file.f}}">
    <span>{{file.n}}</span>
  </a>
</div>
{% else %}
<p>No files found</p>
{% endfor %}
<form method="post" action="/EsAsset/{{book.id}}/upload" enctype="multipart/form-data">
  <dl>
  <p>
    <input type="file" name="files[]" multiple="true" autocomplete="off" required>
  </p>
  </dl>
  <p>
  <input type="submit" value="提交">
  <span>MAX_CONTENT_LENGTH = 8 * 1024 * 1024</span>
</p>
</form>

{% endblock %}