{#
# Copyright 2015  Inc.
#}

{% extends "esasset/base.html" %}

{% block content %}

<h4>{{book.Lesson}} {{book.Title}}</h4>
{% if session.profile and session.profile.Role < "8" %}
<div class="btn-group">
  <a href="/EsAsset/{{book.id}}/edit" class="btn btn-primary btn-sm">
    <i class="glyphicon glyphicon-edit"></i>
    Edit 項目
  </a>
  <a href="/EsAsset/{{book.id}}/delete" class="btn btn-danger btn-sm">
    <i class="glyphicon glyphicon-trash"></i>
    Delete 項目
  </a>
</div>
{% endif %}
<div class="media">
  <div class="media-left">
    {% if book.imageUrl %}
      <img class="book-image" src="{{book.imageUrl}}">
    {% else %}
    {% endif %}
  </div>

</div>
<div class="media-body">
  <h4 class="book-title">
    {{book.acc}}
    <small>{{book.regSDate}}</small>
  </h4>
  <div>{{book.describe|safe }} </div>
  <small class="book-added-by">for {{book.Classno}} created by userid( {{book.get('createdById')|default('Anonymous', True)}})</small>
</div>

<h4>Img:</h4>
{% for file in filenames %}
<div>
  <a href="/EsAsset/{{book.id}}/download/{{file.f}}">
    <span>{{file.n}}</span>
  </a>
</div>
{% else %}
<p>No files found</p>
{% endfor %}
<form method="post" action="/EsAsset/{{book.id}}/upload" enctype="multipart/form-data">
  <dl>
  <p>
    <input type="file" name="files[]" multiple="true" autocomplete="off" required>
  </p>
  </dl>
  <p>
  <input type="submit" value="提交"">
  <span>MAX_CONTENT_LENGTH = 8 * 1024 * 1024</span>
</p>
</form>
{% endblock %}

